/*------------- #Our vision --------------*/

.crumina-our-vision {
  position: relative;
  overflow: hidden;
  padding: 120px 0 215px;

  .elements {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

  }

  .eye {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
  }
}
