/*------------- #SLIDERS --------------*/


.main-slider {
  position: relative;
  cursor: pointer;
  padding-bottom: 130px;

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: auto;
    background-size: cover;
    background-position: center;
    max-height: 100%;


    &.main-slider-bg-dark {
      .slider-content {
        .slider-content-title {
          color: $white-color;
        }
        .slider-content-text {
          color: $white-color;
        }
      }
    }
  }

  .slider-content-fullwidth {
    width: 100%;
  }

  .slider-thumb-img {
    height: 100%;
    max-height: 100%;

    img {
      max-height: inherit;
      margin: 0 auto;

      @media (max-width: 1024px) {
        max-height: 200px;
      }
    }
  }

  .slider-content-half-width {
    width: 50%;
    min-width: 50%;

    @media (max-width: 1024px) {
      width: 100%;
      min-width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    & + .slider-content-half-width {
      @media (max-width: 1024px) {
        margin: 20px auto;
      }
    }
  }

  .container.d-flex {
    max-height: 100%;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &.d-flex-column {
      flex-direction: column;
    }
  }

  .slider-content {
    margin: 0 auto;
    padding: 20px 15px;

    @media (max-width: 1024px) {
      padding: 20px 5px;
    }

    .slider-content-title {
      margin-bottom: 20px;
      line-height: 1.3;

      @media (max-width: 1024px) {
        margin-bottom: 10px;
      }
    }

    .slider-content-text {
      margin-bottom: 40px;
      line-height: 1.3;

      @media (max-width: 1024px) {
        margin-bottom: 10px;
      }
    }
  }

  .slider-thumb {
    padding: 20px 15px;
  }

  .btn-prev {

    @media (max-width: 1280px) {
      display: none;
    }
  }

  .btn-next {

    @media (max-width: 1280px) {
      display: none;
    }
  }

  .main-slider-btn-wrap {

    .btn + .btn {
      margin-left: 30px;

      @media (max-width: 980px) {
        margin-top: 20px;
        margin-left: 0;
      }

      @media (max-width: 320px) {
        margin-top: 20px;
      }
    }

    .btn {

      i {
        transition: all .3s ease;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);

        @media (max-width: 768px) {
          right: 8px;
        }
      }

      &:hover {
        i {
          right: 12px;

          @media (max-width: 768px) {
            right: 6px;
          }
        }
      }
    }

    .btn-border {
      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }
    }
  }

  &.main-slider-bg-dark {

    .slider-content {
      .slider-content-title {
        color: $white-color;
      }

      .slider-content-text {
        color: $white-color;
        opacity: 1;
      }
    }

  }

  .thumb-left {
    flex-direction: row-reverse;
  }

  .thumb-right {
    flex-direction: row;
  }

  &.main-slider-bg-photo-wrap {
    height: 100vh;
  }

  &.no-labels {
    padding-bottom: 0;
  }

}

.btn-prev {
  top: 50%;
  left: 60px;
  transform: translate(0, -50%);
}

.btn-next {
  top: 50%;
  right: 60px;
  transform: translate(0, -50%);
}

.slider-shadow {
  box-shadow: 25px 62px 62px rgba(0, 0, 0, .42);
}

.btn-next {
  position: absolute;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: block;
  z-index: 10;
  transition: all .2s ease-in;
  fill: #e1e1e1;
  stroke: inherit;

  &:hover {
    margin-right: -2px;
  }

  &.btn-next-gray {
    fill: #4a4240;
  }

  &.btn-next-black {
    &:hover {
      fill: #2f2c2c;
    }
  }

  &.btn-next-white {
    fill: $white-color;
  }

  @media (max-width: 560px) {
    width: 30px;
    height: 30px;
  }

}

.btn-prev {
  position: absolute;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: block;
  z-index: 10;
  transition: all .2s ease-in;
  fill: #e1e1e1;
  stroke: inherit;

  &:hover {
    margin-left: -2px;
  }

  &.btn-prev-gray {
    fill: #4a4240;
  }

  &.btn-prev-black {
    &:hover {
      fill: #2f2c2c;
    }
  }

  &.btn-prev-white {
    fill: $white-color;
  }

  @media (max-width: 460px) {
    width: 30px;
    height: 30px;
  }

}

.slider-slides {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: table;
  width: 100%;

  .main-slider-bg-light {
    .content {
      .text-wrap {
        .slides-title {
          color: $heading-color;
        }

        .slides-sub-title {
          color: $heading-color;
        }
      }

      .slides-number {
        color: rgb(137, 137, 137);
        opacity: .1;
      }
    }
  }

  .triangle-slides {
    border: 20px solid transparent;
    display: block;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    transition: all .4s ease;

    &.dark {
      border-bottom-color: rgb(48, 48, 45);
    }

    &.primary {
      border-bottom-color: rgb(76, 194, 192);
    }

    &.secondary {
      border-bottom-color: rgb(241, 91, 38);
    }

    &.orange {
      border-bottom-color: rgb(252, 176, 59);
    }

    &.green {
      border-bottom-color: rgb(60, 184, 120);
    }

  }
}

.slides-item {
  display: table-cell;
  padding: 13px 46px;
  position: relative;
  z-index: 1;

  @media (max-width: 1024px) {
    padding: 10px;
  }

  @media (max-width: 360px) {
    padding: 5px;
  }

  .content {
    position: relative;
    overflow: hidden;

    .text-wrap {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);

      .slides-title {
        font-size: 26px;
        line-height: 1.1;
        color: $white-color;
        text-transform: capitalize;

        @media (max-width: 800px) {
          font-size: 20px;
        }

        @media (max-width: 640px) {
          font-size: 14px;
          line-height: 1;
        }

        @media (max-width: 480px) {
          display: none;
        }
      }

      .slides-sub-title {
        color: $white-color;
        font-size: 14px;
        margin-bottom: 5px;

        @media (max-width: 640px) {
          display: none;
        }
      }

    }

    .slides-number {
      font-size: 104px;
      color: rgb(255, 255, 255);
      opacity: .1;
      position: relative;
      float: right;
      line-height: 1;

      @media (max-width: 800px) {
        font-size: 90px;
      }

      @media (max-width: 640px) {
        font-size: 70px;
      }

      @media (max-width: 570px) {
        font-size: 50px;
      }

      @media (max-width: 375px) {
        font-size: 30px;
      }
    }
  }

  &.slide-active {
    .triangle-slides {
      opacity: 1;
      top: -34px;
    }
  }
}

/*------------- Main-Slider-bg-photo --------------*/

.main-slider-bg-photo-wrap {
  min-height: 680px;

  .slider-slides {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .main-slider-bg-photo {
    background-size: cover;

    .slider-content {
      position: relative;
      padding: 170px 0;
      max-width: 870px;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      @media (max-width: 640px) {
        padding: 300px 0;
      }

      &.left {
        margin: 0;
        max-width: 670px;
        float: left;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      &.right {
        margin: 0;
        max-width: 570px;
        float: right;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      .slider-content-text {
        margin-bottom: 40px;
      }
    }

    .btn-prev {
      top: 50%;
      left: 60px;
    }

    .btn-next {
      top: 50%;
      right: 60px;
    }


    .btn + .btn {
      @media (max-width: 320px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

/*------------- Recent-post-slider --------------*/

.recent-post-slider {
  position: relative;

  .crumina-heading {
    margin-bottom: 40px;
  }

  .pagination, .swiper-pagination {
    right: 0;
    top: -120px;
    z-index: 50;

    @media (max-width: 980px) {
      top: 80px;
    }

    @media (max-width: 320px) {
      top: 40px;
    }
  }
}

/*------------- Client-carousel --------------*/

.clients-slider-module {
  background-color: $border-color;
  position: relative;

  .btn-prev {
    bottom: 0;
    left: 42%;
    top: auto;
    transform: none;

    @media (max-width: 980px) {
      left: 30%;
    }

    @media (max-width: 480px) {
      left: 20%;
    }
  }

  .btn-next {
    bottom: 0;
    right: 42%;
    top: auto;
    transform: none;

    @media (max-width: 980px) {
      right: 30%;
    }

    @media (max-width: 480px) {
      right: 20%;
    }
  }

  .clients-item-wrap {
    position: relative;
    padding: 13px 0 104px 0;
    text-align: center;
  }
}

.clients-item-wrap {
  text-align: center;
}

/*------------- Recent Case Slider --------------*/

.recent-case-slider {
  position: relative;

  .heading, .crumina-heading {
    margin-bottom: 48px;
    display: inline-block;

    .heading-title {
      float: left;

      @media (max-width: 640px) {
        float: none;
      }
    }

    .heading-decoration {
      clear: both;
    }
  }

  .pagination, .swiper-pagination {
    right: 0;
    top: 0;
    z-index: 5;

    @media (max-width: 980px) {
      top: 30px;
    }
  }

  .read-more {
    @media (max-width: 640px) {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }

  }

  .top-pagination {
    padding-top: 125px;
    top: -125px;
    margin-bottom: -100px;
  }

  .pagination-bottom {
    padding-bottom: 80px;

    .pagination, .swiper-pagination {
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
    }
  }
}

/*------------- Slider-profit --------------*/

.slider-profit-wrap {
  position: relative;

  .slider-profit {
    position: relative;

    .slider-profit-thumb {
      position: relative;

      @media (max-width: 480px) {
        margin-top: 40px;
      }
    }

    .btn {
      margin-top: 30px;
    }
  }

  .pagination-vertical {
    padding-left: 100px;
  }

  .pagination, .swiper-pagination {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    @media (max-width: 1280px) {
      left: 70px;
    }

    @media (max-width: 640px) {
      left: 50%;
      top: auto;
      bottom: -20px;
    }

    .swiper-pagination-bullet {
      display: block;
      margin: 9px 5px;
      background-color: #acd373;

      @media (max-width: 640px) {
        display: inline-block;
      }

      &.swiper-pagination-bullet-active {
        border-color: $white-color;
        background-color: transparent;
      }
    }
  }
}

.pagination-vertical {
  padding-left: 100px;

  @media (max-width: 640px) {
    padding-left: 50px;
  }

  /* Bugfix for frontent editor save ( not the best solution solution )*/
  .drag-helper{ display: none; }
}

.swiper-slide > .main-slider {
  height: 100%;
  padding-bottom: 0;
  padding-top: 0;

  @media (max-width: 1280px) {
    height: auto;
  }

  @media (max-width: 360px) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.top-pagination {
  .swiper-pagination.top-right {
    transform: translate(0);

    @media (max-width: 800px) {
      right: 0;
    }

    @media (max-width: 320px) {
      right: auto;
      left: 0;
    }
  }
}
