/*------------- #TEAMMEMBERS --------------*/

.crumina-teammembers-item {
  text-align: center;

  .module-image, & > img {
    margin-bottom: 30px;
  }

  .teammembers-item-name {
    margin-bottom: 5px;
    display: block;
  }

  .teammembers-item-prof {
    margin-bottom: 15px;
  }

  .socials .social__item {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}