/*------------- #W-TAGS --------------*/


.w-tags {
  overflow: hidden;
  
  &.post-tags {
      clear: both;
  }

  .tags-wrap {
    a {
      padding: 10px 15px;
      font-size: 15px;
      color: inherit;
      border: 2px solid #dddede;
      border-radius: 50px;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
      transition: all .3s ease;

      @media (max-width: 1024px) {
        padding: 10px 20px;
      }

      &:hover {
        background-color: $primary-color;
        color: $white-color;
        border-color: $primary-color;
      }
    }
  }
}