/*------------- #HEADER --------------*/


.header {
  padding: 30px 0 0;
  background: $white-color;
  position: absolute;
  width: 100%;
  z-index: 20;
  left: 0;
  color: $heading-color;
  @include admin-sticky-fix;
  transition: all .3s ease;

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  @media (max-width: 570px) {
    padding: 30px 0 0;
  }

  & > .container {
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .logo {
    margin-bottom: 0;
    float: left;
    margin-right: 10px;

    @media (max-width: 570px) {
      float: none;
      margin: 0 auto 30px;

      flex-direction: column;
      text-align: center;
    }

    img {
      @media (max-width: 570px) {
        margin-right: 0;
      }
    }
  }

  &.header-absolute {
    position: absolute;
    left: 0;
  }

  /*&.absolute {
    position: absolute;
    top: 10px;

    .top-bar{
      position: relative;
      top:-10px;
    }

  }*/

  nav {
    float: right;

    @media (max-width: 1023px) {
      float: none;
      text-align: right;
      * {
        text-align: left;
      }
    }
    @media (max-width: 980px) {
      margin-right: 10px;
    }

    @media (max-width: 800px) {
      margin-right: 0;
    }

    &.not-nav-add {
      @media (max-width: 768px) {
        padding-right: 100px;
      }

      @media (max-width: 480px) {
        padding-right: 0;
      }
    }
  }

  @media (max-width: 1180px) {
    .primary-menu-menu > li:not(.btn) {
      padding-right: 5px !important;
      a {
        font-size: 16px;
        margin-right: 0;
      }
    }
  }

  .header-content-wrapper {
    position: relative;
    float: left;
    width: 100%;
  }
  @media (min-width: 1024px) {
    &.headroom--not-top {
      padding-top: 10px;
      transition: all .3s ease;
      box-shadow: 9px 9px 9px 0 rgba(47, 44, 44, 0.2);
      background-color: #fff !important;

      .primary-menu-menu > li {
        padding: 0 13px 15px;

        &.btn {
          padding: 10px 25px;
          transform: translateY(-10px);

          &.btn-small {
            padding: 10px 25px;
          }

          &.btn-medium {
            padding: 10px 25px;
          }

          &.btn-large {
            padding: 10px 25px;
          }
        }

        @media (max-width: 1024px) {
          padding: 0 7px 35px;

          &.btn {
            padding: 10px 20px;

            &.btn-small {
              padding: 10px 20px;
            }

            &.btn-medium {
              padding: 10px 20px;
            }

            &.btn-large {
              padding: 10px 20px;
            }
          }
        }
      }
      .user-menu {
        transform: scale(0);
        transition: all .3s ease;
      }
    }
  }
  &.header-color-inherit {
    .logo .logo-text .logo-sub-title,
    .nav-add li a,
    .logo .logo-text .logo-title,
    .nav-add li.cart i,
    .nav-add li.search i,
    .primary-menu-menu li .indicator,
    #menu-icon-trigger,
    .primary-menu .showhide,
    .mob-menu--title,
    .primary-menu-menu > li:hover > a > .indicator {
      color: inherit;
    }
    .menu-icon-wrapper svg path{
      stroke: currentColor;
    }

    @media (min-width: 1023px) {
      .primary-menu-menu > li > a {
        color: inherit;
      }
    }

    .primary-menu-menu > li > a::before,
    .primary-menu-menu > li > a::after {
      border-color: inherit;
    }

    .nav-add li.search i:hover {
      color: inherit;
    }

    .nav-add li.search a {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.header-sticky-mobile {
    @media (max-width: 768px) {
      position: fixed;
    }
  }
}

@media (min-width: 768px) {
  .header.header-sticky-desktop {
    position: fixed;
  }
}

.admin-bar .header.header-sticky-mobile.headroom--not-top {
  @media (max-width: 768px) {
    top: 46px;
  }

  @media (max-width: 600px) {
    top: 0;
  }
}

.header.header-sticky-mobile.headroom--not-top {
  @media (max-width: 768px) {
    padding-top: 0;
    box-shadow: 40px 0 80px rgba(0, 0, 0, .15);
  }
}

.header.header-sticky-mobile.headroom--not-top .logo {
  @media (max-width: 400px) {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
  }
}

.header-spacer {
  position: relative;
  width: 100%;
  background: transparent;
  height: 118px;
}

.nav-add {
  float: right;
  padding: 0 0 0 20px;
  margin: 0;

  li {
    display: inline-block;

    &.cart {
      position: relative;

      .cart-count {
        display: block;
        position: absolute;
        left: -6px;
        top: 4px;
        width: 16px;
        height: 16px;
        line-height: 14px;
        font-size: 10px;
        color: $white-color;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
      }

      i {
        font-size: 28px;
        color: $heading-color;
      }
    }

    &.search {
      position: relative;

      i {
        margin-left: 10px;
        transition: all .3s ease;
        font-size: 26px;
        color: #e1e1e1;
        position: relative;
      }

    }
  }
}

.logo {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all .3s ease;
  max-height: unset;

  @media (max-width: 768px) {
    float: none;
    margin-right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    float: left;
    margin-right: 15px;
  }

  .logo-text {
    float: left;
    margin-top: 10px;
    line-height: 1;

    .logo-title {
      font-size: 27px;
      text-transform: uppercase;
      color: $global-link-color;

      @media (max-width: 1200px) {
		font-size: 20px;
      }
    }

    .logo-sub-title {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.user-menu {
  position: absolute;
  right: 85px;
  bottom: -35px;
  width: 70px;
  height: 70px;
  border: 3px solid $heading-color;
  border-radius: 50%;
  transition: all .3s ease;
  transform: scale(1);

  @media (max-width: 768px) {
    bottom: -51px;
    width: 50px;
    height: 50px;
  }

  @media (max-width: 570px) {
    display: none;
  }
  &.enable-mobile{
    @media (max-width: 570px) {
      display: block;
      bottom: -25px;
    }
  }

  .user-menu-content {
    display: table-cell;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border: 4px solid $white-color;
    border-radius: 50%;
    position: relative;
    text-align: center;

    @media (max-width: 768px) {
      width: 44px;
      height: 44px;
      border-width: 2px;
    }
     
    img {
        max-height: 70%;
        max-width: 70%;
    }

    span {
      display: block;
      height: 3px;
      background: $white-color;
      transition: all .3s ease;
      border-radius: 10px;
      margin: 3px auto;

      &:first-of-type {
        width: 25%;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:last-of-type {
        width: 40%;
      }
    }

    &:hover {
      span {
        width: 70%;
      }
    }
  }
}

#site-header.header-absolute {
  position: absolute;
  left: 0;

  @media (max-width: 1023px) {
    position: relative;
    background: rgba(255,255,255,1);
    color: $heading-color;
  }
}

/*------------- #TOP-BAR --------------*/
/*
.top-bar {
  background-color: #fff;
  padding: 16px 0;
  font-size: 14px;
  color: #2f2c2c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all .3s ease;
}

#site-header + .top-bar {
  display: none;
}
@media (max-width: 1024px) {
  .top-bar {
    width: 320px;
    z-index: 30;
    transform: translate(-50%, -100%);
    position: absolute;
    left: 50%;
    top: 0;
    display: block !important;
    border-radius: 0 0 10px 10px;
  }
}
#lang_sel {
  float: left;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .top-bar > .container {
    width: 100%;
  }
}
.top-bar.open {
  transform: translate(-50%, 0);
  z-index: 999;
}
.top-bar .flags {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.top-bar .top-bar-contact {
  float: left;
}
@media (max-width: 1024px) {
  .top-bar .top-bar-contact {
    float: none;
    padding-right: 30px;
  }
}
.top-bar .nice-select {
  float: left;
  padding: 0 40px 0 0;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .top-bar .nice-select {
    float: none;
  }
}
.top-bar .nice-select .option {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}
.top-bar .nice-select:after {
  height: 6px;
  width: 6px;
  margin-top: -4px;
}
.top-bar .nice-select:focus {
  box-shadow: none;
  background-color: transparent;
}
.top-bar .contact-item {
  float: left;
  padding: 0 20px 0 0;
  margin-right: 10px;
  position: relative;
}
@media (max-width: 1024px) {
  .top-bar .contact-item {
    padding: 0;
    margin-bottom: 15px;
    float: none;
  }
}
.top-bar .contact-item:first-child {
  padding-left: 0;
  padding-right: 10px;
}
@media (max-width: 1024px) {
  .top-bar .contact-item:first-child {
    padding: 0;
  }
}
.top-bar .contact-item:last-child {
  padding-right: 0;
}
.top-bar .contact-item:last-child:after {
  display: none;
}
.top-bar .contact-item:after {
  content: '|';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #acacac;
}
@media (max-width: 1024px) {
  .top-bar .contact-item:after {
    display: none;
  }
}
.top-bar a {
  color: #504c4c;
  border-bottom: 1px dashed #504c4c;
}
.top-bar span {
  color: #acacac;
}
.top-bar .follow_us {
  float: right;
}
@media (max-width: 1024px) {
  .top-bar .follow_us {
    float: none;
  }
}
.top-bar .login-block {
  float: right;
  margin-left: 70px;
}
@media (max-width: 1024px) {
  .top-bar .login-block {
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
.top-bar .login-block img {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.top-bar .socials {
  display: inline-block;
  margin-left: 10px;
}
.top-bar .socials img {
  width: 16px;
  height: auto;
}
.top-bar .socials a {
  border: none;
}
.top-bar .socials .social__item {
  margin-left: 10px;
}

.top-bar .top-bar-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  cursor: pointer;
  border: none;
}
@media (max-width: 1024px) {
  .top-bar .top-bar-close {
    display: block;
  }
}
.top-bar .top-bar-close span {
  display: block;
  height: 2px;
  background: #707070;
  border-radius: 10px;
  margin: auto;
  width: 100%;
  transition: all .3s ease;
  top: 50%;
  position: absolute;
}
.top-bar .top-bar-close span:first-of-type {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.top-bar .top-bar-close span:last-of-type {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.top-bar-dark {
  background-color: #151414;
  color: #797676;
}
.top-bar-dark a {
  color: #797676;
}
.top-bar-dark span {
  color: #504c4c;
}
.top-bar-dark .nice-select .list {
  background-color: #151414;
  border: none;
  box-shadow: 0 5px 40px rgba(255, 255, 255, 0.3);
}
.top-bar-dark .nice-select .option.selected.focus {
  background-color: transparent;
}
.top-bar-dark .nice-select .option.selected.focus:hover {
  background-color: #424444;
}
.top-bar-dark .nice-select .option:hover {
  background-color: #424444;
}

@media (max-width: 1024px) {
  .top-bar-link {
    display: inline-block;
    visibility: visible;
  }
}

.top-bar .nice-select .option:hover {
  opacity: .7;
}
*/

/*------------- #rulles for top-bar in header --------------*/

.header.header-top-bar {
  padding-top: 0;
}

@media (max-width: 1024px) {
  .header > .top-bar {
    display: none;
    visibility: hidden;
  }
  .header.header-top-bar .header-content-wrapper {
    padding-top: 25px;
  }
}

.header.header-top-bar .top-bar {
  margin-bottom: 30px;
  height: auto;
}

.header.headroom--not-top.header-top-bar .top-bar {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media (max-width: 600px) {
  .admin-bar .top-bar.open {
    top: 46px;
  }
}

@media (max-width: 570px) {
  .header.header-top-bar .header-content-wrapper {
    padding-top: 40px;
  }
}


/*================= Styles for sticky-Header =========*/


.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform,opacity;

  @media (max-width: 480px) {
    animation-fill-mode: none;
    will-change: unset;
  }
}

@-webkit-keyframes swingInX {
  0% {
    -webkit-transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    -webkit-transform:perspective(400px) rotateX(0deg)
  }
}
@-moz-keyframes swingInX {
  0% {
    -moz-transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    -moz-transform:perspective(400px) rotateX(0deg)
  }
}
@-o-keyframes swingInX {
  0% {
    -o-transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    -o-transform:perspective(400px) rotateX(0deg)
  }
}
@keyframes swingInX {
  0% {
    transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    transform:perspective(400px) rotateX(0deg)
  }
}
.animated.swingInX {
  -webkit-transform-origin:top;
  -moz-transform-origin:top;
  -ie-transform-origin:top;
  -o-transform-origin:top;
  transform-origin:top;
  -webkit-backface-visibility:visible !important;
  -webkit-animation-name:swingInX;
  -moz-backface-visibility:visible !important;
  -moz-animation-name:swingInX;
  -o-backface-visibility:visible !important;
  -o-animation-name:swingInX;
  backface-visibility:visible !important;
  animation-name:swingInX;

  @media (max-width: 768px) {
    animation-name: none;
    transform-origin: unset;
  }
}
@-webkit-keyframes swingOutX {
  0% {
    -webkit-transform:perspective(400px) rotateX(0deg)
  }
  100% {
    -webkit-transform:perspective(400px) rotateX(-90deg)
  }
}
@-moz-keyframes swingOutX {
  0% {
    -moz-transform:perspective(400px) rotateX(0deg)
  }
  100% {
    -moz-transform:perspective(400px) rotateX(-90deg)
  }
}
@-o-keyframes swingOutX {
  0% {
    -o-transform:perspective(400px) rotateX(0deg)
  }
  100% {
    -o-transform:perspective(400px) rotateX(-90deg)
  }
}
@keyframes swingOutX {
  0% {
    transform:perspective(400px) rotateX(0deg)
  }
  100% {
    transform:perspective(400px) rotateX(-90deg)
  }
}
.animated.swingOutX {
  -webkit-transform-origin:top;
  -webkit-animation-name:swingOutX;
  -webkit-backface-visibility:visible !important;
  -moz-animation-name:swingOutX;
  -moz-backface-visibility:visible !important;
  -o-animation-name:swingOutX;
  -o-backface-visibility:visible !important;
  animation-name:swingOutX;
  backface-visibility:visible !important;

  @media (max-width: 768px) {
    animation-name: none;
    transform-origin: unset;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform:translateY(-100%)
  }
  100% {
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform:translateY(-100%)
  }
  100% {
    -moz-transform:translateY(0)
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform:translateY(-100%)
  }
  100% {
    -o-transform:translateY(0)
  }
}
@keyframes slideDown {
  0% {
    transform:translateY(-100%)
  }
  100% {
    transform:translateY(0)
  }
}
.animated.slideDown {
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;

  @media (max-width: 480px) {
    animation-name: none;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform:translateY(0)
  }
  100% {
    -webkit-transform:translateY(-200%)
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform:translateY(0)
  }
  100% {
    -moz-transform:translateY(-200%)
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform:translateY(0)
  }
  100% {
    -o-transform:translateY(-200%)
  }
}
@keyframes slideUp {
  0% {
    transform:translateY(0)
  }
  100% {
    transform:translateY(-200%)
  }
}
.animated.slideUp {
  -webkit-animation-name:slideUp;
  -moz-animation-name:slideUp;
  -o-animation-name:slideUp;
  animation-name:slideUp;

  @media (max-width: 480px) {
    animation-name: none;
  }
}
@-webkit-keyframes swingInX {
  0% {
    -webkit-transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    -webkit-transform:perspective(400px) rotateX(0deg)
  }
}
@-moz-keyframes swingInX {
  0% {
    -moz-transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    -moz-transform:perspective(400px) rotateX(0deg)
  }
}
@-o-keyframes swingInX {
  0% {
    -o-transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    -o-transform:perspective(400px) rotateX(0deg)
  }
}
@keyframes swingInX {
  0% {
    transform:perspective(400px) rotateX(-90deg)
  }
  100% {
    transform:perspective(400px) rotateX(0deg)
  }
}


@-webkit-keyframes flipInX {
  0% {
    -webkit-transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
  100% {
    -webkit-transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
}
@-moz-keyframes flipInX {
  0% {
    -moz-transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
  100% {
    -moz-transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
}
@-o-keyframes flipInX {
  0% {
    -o-transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
  100% {
    -o-transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
}
@keyframes flipInX {
  0% {
    transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
  100% {
    transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
}
.animated.flipInX {
  -webkit-backface-visibility:visible !important;
  -webkit-animation-name:flipInX;
  -moz-backface-visibility:visible !important;
  -moz-animation-name:flipInX;
  -o-backface-visibility:visible !important;
  -o-animation-name:flipInX;
  backface-visibility:visible !important;
  animation-name:flipInX;

  @media (max-width: 480px) {
    animation-name: none;
  }
}
@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
  100% {
    -webkit-transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
}
@-moz-keyframes flipOutX {
  0% {
    -moz-transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
  100% {
    -moz-transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
}
@-o-keyframes flipOutX {
  0% {
    -o-transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
  100% {
    -o-transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
}
@keyframes flipOutX {
  0% {
    transform:perspective(400px) rotateX(0deg);
    opacity:1
  }
  100% {
    transform:perspective(400px) rotateX(90deg);
    opacity:0
  }
}
.animated.flipOutX {
  -webkit-animation-name:flipOutX;
  -webkit-backface-visibility:visible !important;
  -moz-animation-name:flipOutX;
  -moz-backface-visibility:visible !important;
  -o-animation-name:flipOutX;
  -o-backface-visibility:visible !important;
  animation-name:flipOutX;
  backface-visibility:visible !important;

  @media (max-width: 480px) {
    animation-name: none;
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity:0;
    -webkit-transform:translateY(-200px)
  }
  60% {
    opacity:1;
    -webkit-transform:translateY(30px)
  }
  80% {
    -webkit-transform:translateY(-10px)
  }
  100% {
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity:0;
    -moz-transform:translateY(-200px)
  }
  60% {
    opacity:1;
    -moz-transform:translateY(30px)
  }
  80% {
    -moz-transform:translateY(-10px)
  }
  100% {
    -moz-transform:translateY(0)
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity:0;
    -o-transform:translateY(-200px)
  }
  60% {
    opacity:1;
    -o-transform:translateY(30px)
  }
  80% {
    -o-transform:translateY(-10px)
  }
  100% {
    -o-transform:translateY(0)
  }
}
@keyframes bounceInDown {
  0% {
    opacity:0;
    transform:translateY(-200px)
  }
  60% {
    opacity:1;
    transform:translateY(30px)
  }
  80% {
    transform:translateY(-10px)
  }
  100% {
    transform:translateY(0)
  }
}
.animated.bounceInDown {
  -webkit-animation-name:bounceInDown;
  -moz-animation-name:bounceInDown;
  -o-animation-name:bounceInDown;
  animation-name:bounceInDown;

  @media (max-width: 480px) {
    animation-name: none;
  }
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform:translateY(0)
  }
  30% {
    opacity:1;
    -webkit-transform:translateY(20px)
  }
  100% {
    opacity:0;
    -webkit-transform:translateY(-200px)
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform:translateY(0)
  }
  30% {
    opacity:1;
    -moz-transform:translateY(20px)
  }
  100% {
    opacity:0;
    -moz-transform:translateY(-200px)
  }
}
@-o-keyframes bounceOutUp {
  0% {
    -o-transform:translateY(0)
  }
  30% {
    opacity:1;
    -o-transform:translateY(20px)
  }
  100% {
    opacity:0;
    -o-transform:translateY(-200px)
  }
}


@keyframes bounceOutUp {
  0% {
    transform:translateY(0)
  }
  30% {
    opacity:1;
    transform:translateY(20px)
  }
  100% {
    opacity:0;
    transform:translateY(-200px)
  }
}
.animated.bounceOutUp {
  -webkit-animation-name:bounceOutUp;
  -moz-animation-name:bounceOutUp;
  -o-animation-name:bounceOutUp;
  animation-name:bounceOutUp;

  @media (max-width: 768px) {
    animation-name: none;
    transform-origin: unset;
  }
}