/*------------- #VARIABLES --------------*/


// We use these as default colors throughout

$primary-color: #4cc2c0 !default;
$secondary-color: #f15b26 !default;
$heading-color: #2f2c2c !default;
$global-link-color: #2f2c2c !default;
$font-color: #757575 !default;

$white-color: #fff !default;
$border-color: #f7f9f9 !default;
$main-border-color: #ced3d3 !default;

// Socials color

$social-bg: #333 !default;
$faceb-color: #3b5998 !default;
$youtube-color: #e82018 !default;

$h1-fontsize: 48px !default;
$h2-fontsize: 42px !default;
$h3-fontsize: 36px !default;
$h4-fontsize: 30px !default;
$h5-fontsize: 24px !default;
$h6-fontsize: 18px !default;
$h-font-weight: 400 !default;

$heading-font-family: 'Varela Round', Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$p-font-size: 18px !default;

$h-letter-spacing: .025em;

// We use these to control various global styles

$body-bg: #fff !default;
$body-font-size: 16px !default;
$body-font-color: $font-color !default;
$body-dark-font-color: $heading-color !default;
$body-font-family: 'Varela Round', Arial, 'Helvetica Neue', Helvetica, serif !default;
$body-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$body-font-size-responsive: 14px !default;

$semibold-weight: 600 !default;
$border-round: 100% !default;






